@model MyHttpClient.Entities.Subscriber?

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Заголовок</title>
    <p>Пользователь</p>
    <p>Id:@Model.Id</p>
    <p>First name:@Model.FirstName</p>
    <p>Last name:@Model.LastName</p>
    <p>Patronymic:@Model.Patronymic</p>
    <p>Date of birth:@Model.DateOfBirth</p>
    <p>Phone number:@Model.PhoneNumber</p>
    <p>Email:@Model.Email</p>
    <p>Rating:@Model.Rating</p>
    <p>Tariff id:@Model.TariffId</p>
    <p>Date of creation:@Model.DateOfCreation</p>
    <p>Date of update:@Model.DateOfUpdate</p>
</head>
<body>
<div>
      
</div>
</body>
</html>